*
body{   
              display              : flex;
              justify-content      : center;  
              font-family          : "Roboto", sans-serif; 
              color: rgb(47, 52, 52);    
}

#mainContainer{
              width                : 200px;
              height               : 500px;
              display              : grid;
              grid-auto-flow       : row;
}
              
.color-light{
              border               : 2px solid rgb(86, 83, 83);
              border-radius        : 10px;
              background-color     : gray;
              box-shadow           : 0 0 5px #252424;

              display              : grid;
              grid-auto-flow       : row;
              text-align           : center;
              justify-content      : center;  
}          
.color-red {
              width                : 100px;
              height               : 100px;
              align-content        : center;
              margin-top           : 20px;

              background-color     : rgb(61, 61, 61);
              
              border               : 2px solid rgb(72, 69, 69);
              border-radius        : 50px;
              -moz-border-radius   : 50px;
              -webkit-border-radius: 50px;              
}
.color-red.active{
              background           : radial-gradient( rgba(255,6,6,1), rgba(21,21,25,0.7));
              transition-duration  : 1s;
}

.color-yellow{
              width                : 100px;
              height               : 100px;
              align-content        : center;

              background-color     : rgb(61, 61, 61);
              border               : 2px solid rgb(72, 69, 69);
              border-radius        : 50px;
              -moz-border-radius   : 50px;
              -webkit-border-radius: 50px;
}
.color-yellow.active{
              background           : radial-gradient( rgb(255,222,6,1), rgba(21,21,25,0.7));
              transition-duration  : 1s;
}

.color-green{
              width                : 100px;
              height               : 100px;
              align-content        : center;

              background-color     : rgb(61, 61, 61);
              border               : 2px solid rgb(72, 69, 69);
              border-radius        : 50px;
              -moz-border-radius   : 50px;
              -webkit-border-radius: 50px;
}
.color-green.active{
              background           : radial-gradient( rgb(5,199,11,1), rgba(21,21,25,0.7));
              transition-duration  : 1s;
}

.timer{
              width                : 100%;
              margin-bottom        : 20px;
              text-align           : center;
              color: #45455a;
              align-content        : center; 
              
              border               : 0.5px solid #6c728e;
              
              border-radius        : 15px;
              background-color     : rgb(103, 182, 247);   
}
.timer:active{
              box-shadow           : 0 0 5px #051b85;
              transition-duration  : 0.2s;            
}      
  